html {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.3;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: #1f1740;
    background: #ffffff;
}

h1, h2, h3 {
    font-weight: 500;
}

h1 {
    font-size: 2.75rem;
    font-weight: 700;
}

h2 {
    font-size: 2.25rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    margin: 0 0 1rem 0;
    line-height: 1.3;
    opacity: .8;
}

ul {
    padding-left: 0;
}

li {
    position: relative;
    padding-left: 1.5rem;
    list-style: none;
}

li:before {
    content: '-';
    position: absolute;
    width: .25rem;
    height: .25rem;
    top: 1.125rem;
    left: .25rem;
    border-radius: .125rem;
}

nav {
    display: block;
}

.anchor {
    position: relative;
    top: -12rem;
    display: block;
}

.dash {
    margin-bottom: 2rem;
}

.dash:after {
    content: '';
    display: block;
    width: 2.5rem;
    height: 2px;
    background: #ff0000;
    border-radius: 1px;
}