@media (min-width: 1200px) {

    h1, h2, h3 {
        font-size: 2.75rem;
        font-weight: 500;
    }

    h1 {
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    .container.wide {
        max-width: 1440px;
    }

}