footer {
    padding: 1.5rem 0;
    font-size: .875rem;
    line-height: 1.5rem;
    letter-spacing: -0.28px;
    color: #999999;
    background:  #19252f;
}

footer a {
    padding: 0 .5rem;
    color: #999999;
}

footer a:hover {
    color: #ffffff;
    text-decoration: none;
}

footer .links {
    text-align: right;
}

footer .links-mobile {
    text-align: center;
}

footer .links-mobile a {
    display: block;
    margin-bottom: .5rem;
}

footer .logo-footer {
    display: block;
    margin: 1rem auto 1.5rem auto;
    max-width: 2rem;
}

footer .copyright span {
    display: block;
    margin-bottom: .5rem;
    text-align: center;
    font-size: .8125rem;
}