header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1.5rem 0;
    background: transparent;
    z-index: 1000;
    transition: all .4s;
}

header.active {
    padding: .75rem 0;
    background: #eeeeee;
}

header .logo {
    position: relative;
    top: .375rem;
    max-width: 10rem;
}

header .nav-link {
    color: #ffffff;
}

header .nav-link:hover,
header .nav-link.active,
header .nav-link:active {
    color: rgba(0, 123, 255, 1);
}

header nav .nav-link {
    color: rgba(0, 0, 0, .8);
}

header nav .nav-link:hover,
header nav .nav-link.active,
header nav .nav-link:active {
    color: #ffffff;
}

header .dropdown .btn {
    min-width: auto;
    padding: .5rem 1.375rem;
    line-height: 1.25rem;
    letter-spacing: -0.3px;
}

header .dropdown form {
    min-width: 16rem;
    background: #19252f;
}

header .dropdown-item.active,
header .dropdown-item:active {
    background: transparent;
}

header .row {
    align-items: baseline;
}

header .already {
    padding: 1rem 0 .5rem 0;
}

header #signinMenuButton a {
    padding: 0;
}

header .signin {
    margin-right: 2rem;
}

header .signup {
    margin-right: 1.25rem;
    font-size: calc(15rem / 16);
}

header .signup img {
    margin-right: .625rem;
}

header .signup .btn {
    padding: .5rem 1rem;
}

header .mobile-menu {
    position: relative;
    top: -.125rem;
    padding: 0 1.25rem 0 0;
}

header .mobile-menu .button {
    min-width: 1.5rem;
    text-align: center;
}

header .mobile-menu .closed,
header .mobile-menu.show .opened  {
    display: inline-block;
}

header .mobile-menu.show .closed,
header .mobile-menu .opened {
    display: none;
}