main .content {
    padding-top: 5rem;
    overflow: hidden;
}

main .block {
    position: relative;
    display: flex;
    align-items: center;
    padding: 3rem 0;
    overflow-y: visible;
    box-sizing: border-box;
}

main .block .padded {
    padding: 0 2.5rem;
}

main .image-wrapper {
    width: 68%;
    margin: 0 auto 1rem auto;
}

main .image-wrapper img {
    max-width: 100%;
    min-width: 100%;
}